<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SEP" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloService" contract="IHelloService"
                name="BasicHttpBinding_IHelloService" />
        </client>
    </system.serviceModel>
</configuration>